<div class="row"><div class="col-lg-12 bg-light-gray">
	
	<h3 align="center">Research Process</h3>
	
	<ul class="timeline">
	
	<li>
	<div class="timeline-image"><i class="fa fa-puzzle-piece fa-stack-2x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Research Need Identification</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			Identify gaps in research needed in order to improve decision-making for
			transportation planning.  This step involves multiple stakeholders up and 
			downstream in the transportation planning process and can be conducted by 
			anybody; but is the responsibility of the ADB50 TRB Committee on Planning 
			Applications. The committee research coordinator will reach out to related
			<a href="http://www.trb.org/AboutTRB/StandingCommitteesMT.aspx">TRB standing 
			committees</a> and identify if this research needs statement resonates with them
			and if so, if they would consider co-sponsoring.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-pencil fa-stack-2x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Needs Statement Development</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			As a research need resonates with more stakeholders, it will be refined and
			the ADB50 <a href="http://www.trb.org/AboutTRB/crc.aspx">Research Coordinator</a> 
			or Committee Chair will post it to the TRB <a href="http://rns.trb.org">Research Needs Database</a>.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-code fa-stack-2x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Submit Research Need</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			When a research need is deemed "ripe", it will be submitted for consideration.
			For NCHRP and TCRP, research needs must be submitted by a State DOT or FHWA.
			For IDEA and NCHRP Synthesis topics, the research need can be submitted for 
			consideration by anybody.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-dollar fa-stack-2x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Needs Statement Selection</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			How research needs are selected for funding varies widely depending on the <a 
			href=http://www.trb.org/ResearchFunding/ResearchFunding.aspx> research program.
			</a>  For NCHRP, 
			the <a href="http://research.transportation.org/Pages/default.aspx">
			AASHTO Sub-Committee on Research (SCOR)</a> votes on research needs in the fall. 
			<a href="http://www.trb.org/NCHRP/UpcomingCRPProjects.aspx">Selections are 
			announced in April</a> along with their funding levels.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-group fa-stack-4x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Expert Panel Selection</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			After selected research needs are announced, individuals can nominate people
			to serve on the Expert Panel.  Self nominations are fine.  Nominations for 
			NCHRP panels are due in May and selections are made by TRB staff, and must 
			include a certain number of state DOT representatives.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-pencil fa-stack-4x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">RFP Development</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			The panel meets to collaboratively develop a request for proposals (RFP) that 
			pivots from the research needs statement.  For NCHRP, the first panel meeting 
			usually occurs in June or July.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-group fa-stack-4x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Contractor Selection</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			The Expert Panel reviews qualified proposals and convenes in late summer to 
			select a contractor and provide additional direction on the finalized scope of work.
			TRB staff conduct the consultant negotiation.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-wrench fa-stack-4x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Research Conducted</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			The contractor performs the work as described in the scope of work. Depending 
			on the project and funding level, the Expert Panel may or may not hold an 
			interim meeting. Research moves from the 
			<a href="http://rns.trb.org">RNS Database</a> 
			to the <a href="http://rns.trb.org">Research in Progress database]</a>.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-pencil fa-stack-4x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Research Reviewed </h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			The Expert Panel reviews the draft final deliverable and votes on its 
			acceptance.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-pencil fa-stack-4x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Research Immortalized</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			TRB staff translate the final deliverables into a written report disseminated 
			in print and online.
			</p>
        </div>
	</div>
	</li>
	
	<li>
	<div class="timeline-image"><i class="fa fa-group fa-stack-4x fa-inverse"></i></div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="subheading">Research Disseminated</h4>
        </div>
        <div class="timeline-body">
			<p class="text-muted">
			TRB papers are written, webinars are held, and email newsletters are notified.
			Research is put into the <a href="http://trid.trb.org">TRID Database</a>.
			</p>
        </div>
	</div>
	</li>
   
	</ul>
</div></div>